<form asp-actiomn="Text" method="Post">
    <label for="text1">Số thứ nhất:</label>
        <input type="number" id="text1" name="text1">
        <br>
        <label for="text2">Số thứ hai:</label>
        <input type="number" id="text2" name="text2">
        <br>
        <button type="button" onclick="cong()">Cộng</button>
        <button type="button" onclick="tru()">Trừ</button>
        <button type="button" onclick="nhan()">Nhân</button>
        <button type="button" onclick="chia()">Chia</button>
        <br>
        <p id="kq"></p>
        <script>
            function cong() {
                var text1 = document.getElementById("text1").value;
                var text2 = document.getElementById("text2").value;
                var ketqua = parseInt(text1) + parseInt(text2);
                document.getElementById("kq").innerHTML = "Kết quả: " + ketqua;
            }
            function tru() {
                var text1 = document.getElementById("text1").value;
                var text2 = document.getElementById("text2").value;
                var ketqua = parseInt(text1) - parseInt(text2);
                document.getElementById("kq").innerHTML = "Kết quả: " + ketqua;
            }
            function nhan() {
                var text1 = document.getElementById("text1").value;
                var text2 = document.getElementById("text2").value;
                var ketqua = parseInt(text1) * parseInt(text2);
                document.getElementById("kq").innerHTML = "Kết quả: " + ketqua;
            }
            function chia() {
                var text1 = document.getElementById("text1").value;
                var text2 = document.getElementById("text2").value;
                var ketqua = parseInt(text1) / parseInt(text2);
                document.getElementById("kq").innerHTML = "Kết quả: " + ketqua;
            }
        </script>
</form>